<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Level的级别，由高到低 -->
  <!-- None > Fatal > ERROR > WARN > DEBUG > INFO > ALL-->
  <!-- 解释：如果level是ERROR，则在cs文件里面调用log4net的info()方法，则不会写入到日志文件中-->
  <log4net>
    <!--错误日志类-->
    <logger name="EdenControlLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ControlLogAppender" />
    </logger>
    <logger name="EdenGUILogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="GUILogAppender" />
    </logger>
    <!--错误日志附加介质-->
    <appender name="ControlLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${MEF_EXPORTED_HOME}/Data/Log/" />
      <param name="AppendToFile" value="true" />

      <!-- 切割最多文件数 -1表示不限制产生日志文件数-->
      <param name="MaxSizeRollBackups" value="-1" />

      <!-- 每个文件的大小限制  -->
      <param name="MaximumFileSize" value="30MB" />

      <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
      <param name="RollingStyle" value="Composite" />

      <!--设置文件名后缀的格式，那个&quot;起到的作用是转义，就是把.log当作字面义，而不是时间日期的格式定义-->
      <param name="DatePattern" value='yyyy-MM-dd/"EdenControlLog.log"' />
      <!--<param name="DatePattern" value='yyyy-MM-dd/"&quot;GUIClientLog_&quot;yyyyMMdd&quot;.log&quot;"' />-->
      <param name="PreserveLogFileNameExtension" value="true" />

      <!-- 关掉固定文件名-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
    </appender>
    <appender name="GUILogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${MEF_EXPORTED_HOME}/Data/Log/" />
      <param name="AppendToFile" value="true" />

      <!-- 切割最多文件数 -1表示不限制产生日志文件数-->
      <param name="MaxSizeRollBackups" value="-1" />

      <!-- 每个文件的大小限制  -->
      <param name="MaximumFileSize" value="30MB" />

      <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
      <param name="RollingStyle" value="Composite" />

      <!--设置文件名后缀的格式，那个&quot;起到的作用是转义，就是把.log当作字面义，而不是时间日期的格式定义-->
      <param name="DatePattern" value='yyyy-MM-dd/"EdenGUILog.log"' />
      <!--<param name="DatePattern" value='yyyy-MM-dd/"&quot;GUIClientLog_&quot;yyyyMMdd&quot;.log&quot;"' />-->
      <param name="PreserveLogFileNameExtension" value="true" />

      <!-- 关掉固定文件名-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
    </appender>
  </log4net>
</configuration>
